@charset "UTF-8";
body, h2, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

em, i {
  font-style: normal;
}

.topLine {
  height: 1.2rem;
  background: #323436;
}

.topLine .btn {
  width: 1.2rem;
  height: 1.2rem;
  float: left;
  color: #fff;
  font-size: 0.53333rem;
  line-height: 1.2rem;
  text-align: center;
}

.topLine .logo {
  width: 7.6rem;
  height: 100%;
  float: left;
  text-align: center;
  line-height: 1.2rem;
}

.topLine .logo img {
  width: 2.46667rem;
  height: 0.61333rem;
}

.footmenu {
  height: 2.77333rem;
  background: #323436;
}

.footmenu_link {
  height: 0.45333rem;
  padding: 0.4rem 0 0.17333rem;
  font: 0.32rem / 0.45333rem "微软雅黑";
  color: #fff;
}

.footmenu_link .iconfont {
  margin-left: 0.85333rem;
  font-size: 0.48rem;
  display: inline-block;
  vertical-align: middle;
}

.footmenu_link span {
  display: inline-block;
  vertical-align: middle;
}

.footmenu_submenu {
  padding-left: 0.85333rem;
}

.footmenu_submenu .item {
  float: left;
  width: 1.8rem;
  border-right: 0.01333rem solid #6a6c6d;
  margin-right: 0.50667rem;
  font: 0.32rem / 0.34667rem "微软雅黑";
  color: #6a6c6d;
  margin-top: 0.28rem;
}

.footmenu_submenu .item:nth-child(4n), .footmenu_submenu .item:last-child {
  border-right: none;
  margin-right: 0;
}

.copyright {
  height: 0.98667rem;
  background: #2d2f30;
  font: 0.29333rem / 0.92rem "微软雅黑";
  color: #868b8d;
  text-align: center;
}

body, html {
  height: 100%;
}

body {
  background: url(../images/log01.png) no-repeat 0 0/100%, url(../images/log02.png) no-repeat left bottom/100%, -webkit-gradient(linear, left top, right bottom, from(#80c94a), to(#078ab9)) fixed;
  background: url(../images/log01.png) no-repeat 0 0/100%, url(../images/log02.png) no-repeat left bottom/100%, linear-gradient(to right bottom, #80c94a, #078ab9) fixed;
  font-size: 0;
}

body:before {
  content: "";
  width: 0;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.loginbox {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  height: 14.56rem;
}

.loginbox_title {
  height: 3.2rem;
  text-align: center;
}

.loginbox_title img {
  width: 3.04rem;
  height: 1.08rem;
  vertical-align: top;
}

.loginbox_main {
  width: 8.66667rem;
  height: 10.65333rem;
  background: #fff;
  margin: 0 auto;
  text-align: center;
}

.loginbox_main .title_img {
  padding-top: 0.70667rem;
  width: 1.73333rem;
  height: 1.73333rem;
  margin: 0 auto;
}

.loginbox_main .title {
  padding: 0.33333rem 0 0.25333rem;
  font: 0.4rem / 0.64rem "微软雅黑";
  color: #000;
  text-align: center;
}

.loginbox_main .title_reg {
  padding: 0.50667rem 0 0.16rem;
  font: 0.4rem / 0.64rem "微软雅黑";
  color: #000;
  text-align: center;
}

.loginbox_main .input_box {
  height: 0.85333rem;
  margin: 0.73333rem 0.94667rem 0;
  border-bottom: 0.02667rem solid #c1c8cb;
  color: #333;
}

.loginbox_main .input_box.error {
  color: #e15671;
  border-color: #e15671;
}

.loginbox_main .input_box:before {
  content: "";
  width: 0;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.loginbox_main .input_box .iconfont {
  width: 0.49333rem;
  padding-right: 0.29333rem;
  font-size: 0.49333rem;
  display: inline-block;
  vertical-align: middle;
  color: inherit;
}

.loginbox_main .input_box .inp {
  width: 5.86667rem;
  padding: 0;
  border: none;
  background: transparent;
  font: 0.34667rem / 0.73333rem "微软雅黑";
  color: inherit;
  color: inherit;
  display: inline-block;
  vertical-align: middle;
  outline: none;
}

.loginbox_main .input_reg {
  height: 1.06667rem;
  border-bottom: 0.02667rem solid #c1c8cb;
  margin: 0 0.94667rem;
}

.loginbox_main .input_reg:before {
  content: "";
  width: 0;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.loginbox_main .input_reg input {
  width: 100%;
  height: 0.66667rem;
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  border: none;
  background: transparent;
  outline: none;
  font: 0.34667rem / 0.73333rem "微软雅黑";
  color: inherit;
  text-align: left;
}

.loginbox_main .chiose {
  height: 0.41333rem;
  padding: 0.44rem 0.94667rem 0.8rem;
}

.loginbox_main .chiose_left {
  float: left;
}

.loginbox_main .chiose_left input {
  display: none;
}

.loginbox_main .chiose_left input:checked ~ i {
  background: #e15671;
}

.loginbox_main .chiose_left i {
  width: 0.36rem;
  height: 0.36rem;
  border: 0.02667rem solid #c1c8cb;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.36rem;
}

.loginbox_main .chiose_left span {
  font: 0.34667rem / 0.41333rem "微软雅黑";
  color: #666;
  display: inline-block;
  vertical-align: middle;
}

.loginbox_main .chiose_right {
  float: right;
  text-align: right;
  font: 0.34667rem / 0.41333rem "微软雅黑";
  color: #e15671;
}

.loginbox_main .btn {
  width: 4.18667rem;
  height: 0.93333rem;
  border-radius: 0.46667rem;
  background: -webkit-gradient(linear, left top, right bottom, from(#fb88ba), to(#f72e6b));
  background: linear-gradient(to right bottom, #fb88ba, #f72e6b);
  margin: 0 auto;
  font-size: 0.4rem;
  line-height: 0.93333rem;
  color: #fff;
  text-align: center;
}

.loginbox_main .btn.reg {
  margin-top: 0.62667rem;
}

.loginbox_main .text {
  font: 0.4rem / 1.4rem "微软雅黑";
  color: #666;
}

.loginbox_main .text em {
  color: #e15671;
}
/*# sourceMappingURL=login.css.map */